<div class="text-center mb-3">
    <h1>Upload</h1>
</div>
<hr class="my-2">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="form-holder text-center">
            <div class="text-danger">{{{error}}}</div>
            <form class="form-inline"  action="/tubes/add" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label h3 mb-2" for="Title">Title</label>
                        <div class="controls">
                            <input type="text" id="Title" name="Title" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label h3 mb-2" for="Author">Author</label>
                        <div class="controls">
                            <input type="text" id="Author" name="Author" placeholder=""
                                   class="input-xlarge">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label h3 mb-2" for="YoutubeId">YoutubeId</label>
                        <div class="controls">
                            <input type="text" id="YoutubeId" name="YoutubeId" placeholder=""
                                   class="input-xlarge">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label h3 mb-2" for="Description">Description</label>
                        <div class="controls">
                            <textarea type="text" id="Description" name="Description" placeholder=""
                                      class="input-xlarge"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-info">Upload</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>